﻿

html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
}

body {
    height: 100%;
}



.outer_border {
    margin: 5vw 40vw 2vw 30vw;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    overflow: hidden;
    z-index: -1;
   
}

.longBoxes {
    width: 12%;
    height: 100%;
    background-color: coral;
    display: inline-block;
    margin-left : 10px;
}


.longBoxe-nobg {
    position: relative;
    width: 50%;
    height: 100%;
    
    display: inline-block;
    margin-left: 10px;
}


.wordbox-center {
   position:fixed;
    width: 50%;
    height: 100%;
 top: 270px;
    background-color: white;
    display: inline-block;
    margin-left: 10px;
}
p {
    margin-top: 5px !important;
    line-height: 5px;
    font-weight: bold;

}

    p.bold {
        font-weight: bold;
        font-size: 70px;
       padding-bottom : 25px;
    }
    p.bottom {
        font-weight: bold;
        font-size: 40px;
        padding-bottom: 15px;
        display: inline-block;
    }
     .time {
        margin-left: 30px;
        display: inline-block;
    }
.footer {
    font-size: 20px;
    padding-bottom: 10px;
 
    
}
.shortBox {
    width: 2%;
    height: 3%;
    background-color: coral;
    display: inline-block;
    
}


.wordbox-bottom {
    position: relative;
    width: 50%;
    height: 100%;
    bottom: 5px;
    display: inline-block;
    margin-left: 10px;

    font-weight: bold;
    font-size: 10px;
  
}