﻿@model manifestoTests.Models.UserModel

@{
    ViewBag.Title = "EnterATM";
}

<h2>EnterATM</h2>

@{

    if (ViewBag.validMessage != "true")
    {
        using (Html.BeginForm("EnterATMView", "Home", FormMethod.Post))
        {




            <br />
            <label for="html">Account num</label>
            @Html.TextBoxFor(m => m.User_acc_num)
            <label for="html">Pin</label>
            @Html.TextBoxFor(m => m.User_acc_pin)

            <input type="submit" value="Submit" />

        }



    }

    if (ViewBag.error == "ACCOUNT_ERR")
    {
        <h2> @ViewBag.error</h2>
    }



    <br /><br />



    if (ViewBag.validMessage == "true")
    {

        <h2> Your balance is @ViewBag.amount</h2>

      



        <br />

        <br />

        using (Html.BeginForm("cashWithDraw", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.User_acc_num)

           
        <div class="form-group">
            <label for="html">Enter the amount you required:</label>
            @Html.TextBoxFor(m => m.User_requested_amnt, new { @class = "form-control" })
            <br />
            <input type="submit" value=" with draw" class="btn btn-default" />

        </div>




            // <h2> Your balance is   @ViewBag.amount</h2>

        }

    }





}

