﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Click me to vuew the HTML page

    <input type="button" value="Click me" onclick="location.href='@Url.Action("ViewHtmlCssTest", "Home")'" />

</div>


<div class="jumbotron">
    Click to enter the ATM

    <input type="button" value="Enter" onclick="location.href='@Url.Action("EnterATMView", "Home")'" />

</div>

