﻿
@{
    ViewBag.Title = "viewHtmlCssTest";
}
<link href="~/Content/CustomStyles.css" rel="stylesheet" />

<div class="outer_border">

    <div class="longBoxes"></div>
    <div class="longBoxes"></div>
    <div class="longBoxes"></div>




    <div class="wordbox-center">
        <p class="bold "> clarity </p>
        <p class="p-normal"> A short about the  </p>
        <p class="p-normal"> International Typographic Style </p>




    </div>

    <div class="wordbox-bottom ">
        <p class="bottom "> 17 </p> <span class="shortBox"></span>  <p class="bottom "> 02 </p>    <p class=" bottom "> 10:00 </p>
        <p class="p-normal footer "> aupieatpo Kpavaou </p>

        <p class="p-normal"> International Typographic Style </p>

        <p class="p-normal"> International Typographic Style </p>
    </div>




</div>
